<strong>Password Recovery</strong>

<p>There was a password recovery request for ({{ email }}). If you have not requested, please change your password.</p>

<p>To continue, <a href="{{ link }}">click here</a>!</p>

<p><strong>Token:</strong> {{ token }}</p>


